@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  border-radius: 8px;
  width: 1120px;
  background-color: #eaedeb;
}

.card-image {
  width: 150%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  margin-left: -25%;
}

.card-image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
}
.heading {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #263e2c;
}

.subheading {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #263e2c;
  margin-bottom: 24px;
}

.card-content {
  padding: 96px;
}

button {
  border-radius: 32px;
  border: 2px solid;
  padding: 15px 25px;
  cursor: pointer;
}

.amount-button {
  border: 2px solid #2f4e37;
  color: #2f4e37;
  margin: 4px;
  font-weight: 700;
  width: 82px;
}

.amount-button:hover {
  background: #cdd5cf;
}

.amount-button:active {
  background: #2f4e37;
  color: white;
}
.active {
  background: #2f4e37;
  color: white;
}
.donate-button {
  margin-top: 24px;
  background: #fec31d;
  border: 2px solid #fec31d;
  color: #2f4e37;
  font-weight: 700;
  width: 100%;
}
.donate-button:hover {
  background: #e5b11d;
  border: 2px solid #e5b11d;
}

.fullwidth {
  width: 46%;
}

.fundraising-regulator {
  margin-right: 18px;
  margin-top: -6px;
}

.svg-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
