@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  border-radius: 8px;

  background-color: #eaedeb;
}

.card-image {
  width: 150%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  margin-left: -25%;
}

.card-image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
}
h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #263e2c;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #263e2c;
}
