@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

.heading {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;

  text-align: center;
  color: #263e2c;
}

.subheading {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #263e2c;
  margin-bottom: 24px;
}

button {
  border-radius: 32px;
  border: 2px solid;
  font-size: 18px;
  cursor: pointer;
}

.amount-button {
  border: 2px solid #2f4e37;
  color: #2f4e37;
  margin: 4px;
  font-weight: 700;
  width: 82px;
}

.amount-button:hover:not(.active) {
  background: #cdd5cf;
}

.amount-button:active {
  background: #2f4e37;
  color: white;
}
.active {
  background: #2f4e37;
  color: white;
}
.donate-button {
  margin-top: 24px;
  background: #fec31d;
  border: 2px solid #fec31d;
  color: #2f4e37;
  font-weight: 700;
  width: 100%;
}
.donate-button:hover {
  background: #e5b11d;
  border: 2px solid #e5b11d;
}

.fullwidth {
  width: 46%;
}

.fundraising-regulator {
  margin-right: 18px;
  margin-top: -6px;
}

.svg-container {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.card-image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
}
/*desktop specific styles*/
@media (min-width: 769px) {
  button {
    padding: 15px 25px;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border-radius: 8px;
    width: 1120px;
    background-color: #eaedeb;
  }
  .heading {
    font-size: 48px;
    line-height: 56px;
  }

  .card-content {
    padding: 96px;
  }
  .card-image {
    width: 150%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    margin-left: -25%;
  }
}
/* mobile styling */
@media (max-width: 768px) {
  .fundraising-regulator {
    position: relative;
    top: 24px;
  }

  button {
    padding: 12px;
  }
  .amount-button-group button {
    width: 60px;
  }
  .card-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 328px;
    background-color: #eaedeb;
    height: 766px;
    border-radius: 8px;
  }
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  .heading {
    font-size: 40px;
    line-height: 48px;
  }

  .subheading {
    margin-top: 12px;
  }

  .card-content {
    padding: 24px;
  }
}
